.motivation-letters-page .sidebar-options .motivation-letters {
    color: #006a62;
    background: #eaf5f1;
}

.motivation-letters-page .sidebar-options .motivation-letters small {
    color: #006a62;
}
